
h2{
  color: rgb(26, 141, 141);
}
.B1 {
  color: rgb(24, 24, 185);

}
h2.B1{
  color: blueviolet !important;
}
.B1 {
  color: aqua;
}
[class]{
  color: darkgoldenrod;
}
#B1{
  color: yellow;
}